<!doctype html>
<html>
<head>
  <title>Let's play madlibs</title>
</head>
<body>


<form action="/madlib">
    <div>What is your name? <input type="text" name="person"></div>

    <div>Give me a noun <input type="text" name="noun"></div>

    <div>Give me an adjective <input type="text" name="adjective"></div>

    <div>
        Choose a color
        <select name="color">
          <option value="pink">pink</option>
          <option value="black">black</option>
          <option value="yellow">yellow</option>
        </select>
      </div>
      <input type="submit">
</form>
</body>
</html>